.filters-container {
    background-color: #fff;
    color: #000;
    height: 100vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
    border-right: 1px solid #ddd;
  }
  
  h5 {
    margin-bottom: 1rem;
    color: #333;
  }
  
  .filter-btn {
    background-color: #fff !important;
    color: #000 !important;
    border: 1px solid #000 !important;
    text-align: left;
    transition: all 0.2s ease;
    border-radius: 0;
  }
  
  .filter-btn:hover,
  .filter-btn.active {
    background-color: #000 !important;
    color: #fff !important;
  }
  
  @media screen and (max-width:758px) {
    .filters-container {
      height: auto;
    }
  }
